.all{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left{
    width: 35%;
    height: 100%;
    background-color: #8db600;
}
.right{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.title{
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 50px;
    color: #4a4a4a;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.table{
    padding: 0 5% 5% 5%;
}
table{
    background-color: #255000;
    width: 100%;
    margin-top: 2.5%;
}
th{
    font-size: 15px;
    font-weight: bold;
}
th, td{
    color: #ffffff;
    text-transform: uppercase;
}
td{
    font-weight: lighter;

}
.mat-row:hover .mat-cell {
    background-color: #8db600;
    color: #255000;
    font-weight: bold;
}
.click{
    cursor: pointer;
}
mat-paginator{
    background-color: #255000;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    text-transform: uppercase;
}

.credit-limit {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit-amount {
  font-weight: bold; /* Negrita para la cifra */
  padding: 5px 10px; /* Padding interior para dar espacio alrededor del texto */
  background-color: #ffffff; /* Fondo blanco para destacar la cifra */
  border: 2px solid #8db600; /* Borde verde oscuro para mantener coherencia con el diseño */
  border-radius: 5px; /* Bordes redondeados para suavizar la apariencia */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera para efecto de profundidad */
}

/* Ajusta el margen izquierdo del span para aumentar el espacio */
div span {
  margin-left: 5px; /* Ajusta este valor según tus necesidades */
}
